@media(min-width: 576px) {.Manifesto-mob{display:none;}.Vision-item-mob{display:none;}
// .Vision-item-web{
//     margin:auto ;
//     height: 200px; ;
//     margin-top:50px;
//     text-align: center;
//  }


//  .Manifesto-web{
//     display: grid;
//     grid-template-rows: 1fr 1fr;
//     grid-template-columns:1fr 1fr;
//     grid-row-gap:120px;
//     grid-column-gap: 70px;
//  }
}

// MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE 
@media(max-width: 576px) {
    .Manifesto-web{display:none;}
    .Vision-item-web{display:none}
    
    .Manifesto-mob{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    .Vision-item-mob{
        margin:auto;
        width:90%;
        text-align: center;
    }
    p{color:map-get($colors,hache1);}
}
